version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      ci-dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    groups:
      javascript-dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7
