---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Now (as of January 2026)";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    This page shows what I’m doing currently, 
    if you have your own website, 
    you <a href="https://nownownow.com/about">should make your own</a> too.
    <br><br>
    But uh...  I'm actually not sure what I want to work on going into 2026, I'm still figuring some stuff out.
    <br>
    So I guess I'm "working on my roadmap" for now.
</BaseLayout>
